/* Extra Styles for pages */


/* Index Extra Styles */
/* The Welcome content container on the index page */
.welcomeContentContainer {
    color: Black;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
}

/* The Button that allows users to explore the site */
.exploreBtn {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    margin-top: 20px;
}

/* The Hover style for the explore button */
.exploreBtn:hover {
    background-color: #666;
    transform: scale(1.05);
}


/* Contact Extra Styles */
/* Contains the contact methods in an invisible container */
.contactOptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* Styling the links inside the Contact Options Container */
.contactOptionsContainer a {
    color: #add8e6; 
    text-decoration: underline;
    font-style: italic;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Styling the links inside the Contact Options Container once hovered over.*/
.contactOptionsContainer a:hover {
    transform: scale(1.05);
    background-color: #333;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
}

.contactOptionsContainer .textBox {
    max-width: 800px;
}

