/* Styles for Index and Home */


/* Index Extra Styles */
/* The Welcome content container on the index page */
.welcomeContentContainer {
    color: Black;
    background: rgb(255,255,255,0.9);
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
}

/* The Button that allows users to explore the site */
.exploreBtn {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    margin-top: 20px;
}

/* The Hover style for the explore button */
.exploreBtn:hover {
    background-color: #666;
    transform: scale(1.05);
}


/* Contact Extra Styles */
/* Contains the cobtact methods in a spaced out invisible container */
.contactOptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

/* Styling the links inside the Contact Options Container */
.contactOptionsContainer a {
  color: #add8e6; 
  text-decoration: underline;
  font-style: italic;
  transition: color 0.3s ease;
}

/* Styling the links inside the Contact Options Container once hovered over.*/
.contactOptionsContainer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.contactOptionsContainer .textBox {
    max-width: 800px;
}

