/* Index General Styles */
.welcomeContentContainer {
  color: Black;
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 12px;
}

.indexLogo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block; 
}

.exploreBtn {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;/* Index General Styles */
.welcomeContentContainer {
  color: Black;
  background: rgb(255,255,255,0.9);
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
}

.indexLogo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block; 
}

.exploreBtn {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  margin-top: 20px;
}

.exploreBtn:hover {
  background-color: #666;   
  transform: scale(1.05);   
}

/* Home General Styles */
.homeLogo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 10px;
}

  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  margin-top: 20px;
}


/* Home General Styles */
.homeLogo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 10px;
}
